body{
    font-family: 'Death Note Font', sans-serif;
    color: white;

    margin: auto;
    overflow: auto;
    background: linear-gradient(315deg, rgb(22, 22, 22) 3%, rgb(31, 31, 31) 38%, rgb(0, 0, 0) 68%, rgb(22, 22, 22) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%; 
    background-attachment: fixed;
    position: relative;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    color: white;
}
p.fs-5{
    max-width: 500px;
}
p.fs-6{
    cursor: pointer;
    text-align: right;
}
.form-group{
    text-align: right;
}
.book{
    border: 1px solid white;
    height: 700px;
    width: 500px;
    background-image: url(https://img.freepik.com/free-photo/plain-backdrop-decorative-gray-textured_1136-349.jpg?w=996&t=st=1698766106~exp=1698766706~hmac=361c668895e0c9f15ee20b605efb8954a1ea2bb271451fe8eb8eaf494d7a33a7);
}
#off-canva{
    background-color:rgba(209, 209, 209, 0.5);
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    top:0;
}
#form-canva{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
}
span.mx-2, li span{
    cursor: pointer;
}
#off-canva ul{
    background-color: rgba(000, 000, 000, 0.8);
    padding: 20px 5px;
    border-radius: 10px;
}
#off-canva li{
    margin-left: 20px;
}